<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controlesbasicos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AgregarProductos3_SQLITE3"></activity>
        <activity android:name=".AgregarProductos_sqlite2"/>
        <activity android:name=".AdmiFuente" />
        <activity android:name=".AdmiDisco" />
        <activity android:name=".AdmiRAM" />
        <activity android:name=".AdmiGPU" />
        <activity android:name=".AdmiMotherboard" />
        <activity android:name=".agregarProducto_sqlite" />
        <activity android:name=".AdmiCPU" />
        <activity android:name=".Agregar_Productos" />
        <activity android:name=".ControlProgramador" />
        <activity android:name=".Mostrar" />
        <activity android:name=".Editar" />
        <activity android:name=".Registrar" />
        <activity android:name=".Inicio" />
        <activity android:name=".Motherboard" />
        <activity android:name=".Procesador" />
        <activity android:name=".CPU" />
        <activity android:name=".Ram" />
        <activity android:name=".Compu" />
        <activity android:name=".Novedades" />
        <activity android:name=".PcPersonalizada" />
        <activity android:name=".MainActivity" />
        <activity android:name=".InformacionBasica" />
        <activity android:name=".Main" />
        <activity android:name=".Seleccion_Componentes" />
        <activity android:name=".PantalladeCarga"/>
            <activity android:name=".Usuario_Programador">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.ControlesBasicos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>